
body{
  background-color:#1d9099;
  
}
header{
    background: url(../img/animated_cube.gif);
    background-size: cover;
    background-position: center;
    min-height: 800px;
}
nav{
  border-bottom: solid goldenrod 2px;
  background: rgb(0, 0, 0, 0.6);
}
#firstMessage{
  display: block;
  background: rgb(0, 0, 0, 0.8);
  text-align: center;
  font-size: 65px;
  border:solid goldenrod 2px;
  width: 75%;
  margin-left: 12.5%;
}
section{
  min-height: 600px;
}
h2#about{
  color: whitesmoke;
  border-bottom: dashed whitesmoke 2px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
  color: white;
}
a:hover{
  color: orangered;
}
img.portfo{
  margin-top: 45px;
}

p.aboutMe{
  text-overflow: ellipsis;
  font-family: 'Source Sans Pro', sans-serif;
}

h1.portfolio{
  border-bottom: dashed whitesmoke 2px;
  width: 450px;
  margin-left: 30%;
}

h2.contact{
  text-align: center;
  margin-left: 15%;
}
p.contact{
  text-align: center;
  margin-left: 15%;
  color: whitesmoke;
  font-size: 16px;
}
/* For portfolio projects */
.containerImage {
  position: relative;
  width: 25%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  opacity: 0;
  transition: .5s ease;
  background-color: goldenrod;
}

.containerImage:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
p.description{
  float: right;
  width: 650px;
}

img.project{
  border-radius: 10px;
  margin: 10px;
}
div.project-list{
height: 200px;
width: auto;
}

div#frontend{
  border: dashed coral 5px;
  margin-top: 5px;
  overflow-y: scroll;
  margin-right: 10px;
}
div#backend{
  border: dashed coral 5px;
  margin-top: 5px;
  overflow-y: scroll;
  margin-right: 10px;
}
div#fullstack{
  border: dashed coral 5px;
  margin-top: 5px;
  overflow-y: scroll;
  margin-right: 10px;
}

div.contact{
  margin: 20px;
  text-align: center;
  margin-left: 23%;
}
/* width */
::-webkit-scrollbar {
  width: 20px;
}
p{
  color: white;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #1d9099; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: coral; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: goldenrod; 
}

@media screen and (max-width: 980px) {
  .mynameSpace{
    float: left;
  }
}

@media screen and (max-width:768px) {
  header{
    width: 100%;
  }
  .mynameSpace{
    float: left;
  }
  #outside{
    width: 100%;
  }
  h2#about{
    font-size: 60px;
  }
  p.aboutMe{
    font-size: 25px;
  }
  img.portfo.circle.responsive-img.materialboxed{
    width: 80%;
    height: 80%;
    margin-left: 11.5%;
  }
  p.description{
    width: 60%;
    font-size: 15px;
    margin: 5px;
  }
}

@media screen and (max-width:640px) {
 img{
   width: 100%!important;
 }
 img#mblRespons{
   width: 200% !important;
   margin-right: 55px!important;
 }
 .overlay{
   width:80%!important;
 }
 
  
}


