
body{
  background-color:#1d9099;
  
}
header{
    background: url(../img/animated_cube.gif);
    background-size: cover;
    background-position: center;
    min-height: 800px;
}
nav{
  border-bottom: solid goldenrod 2px;
  background: rgb(0, 0, 0, 0.6);
}

#firstMessage{
  display: block;
  background: rgb(0, 0, 0, 0.8);
  text-align: center;
  font-size: 65px;
  border:solid goldenrod 2px;
  width: 75%;
  margin-left: 12.5%;
}
p.white-text.animated{
  margin: 30px;
}
section{
  min-height: 600px;
}
h2#about{
  color: whitesmoke;
  border-bottom: dashed whitesmoke 2px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
  color: white;
}
a:hover{
  color: orangered;
}
img.portfo{
  margin-top: 150px;
}

p.aboutMe{
  text-overflow: ellipsis;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}



h2.contact{
  text-align: center;
  margin-left: 15%;
}
p.contact{
  text-align: center;
  margin-left: 15%;
  color: whitesmoke;
  font-size: 16px;
}
/* For portfolio projects */
.containerImage {
  position: relative;
  width: 25%;
}

.image {
  display: block;
  width: 100%;
  height: 150px;
  border-radius: 12px;
}
.image-logo{
  border: goldenrod solid;
  border-radius: 12px;
  float: left;
  margin: 10px;
  position: relative;
  display: block;
  width: 200px;
  height: 150px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  opacity: 0;
  transition: .5s ease;
  background-color: goldenrod;
}

.containerImage:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
p.description{
  float: right;
  width: 650px;
}

p.justify{
  margin-left: 10px;
  margin-top: 10px;
}

h1.port-title{
  position: relative;
  left: 350px;
  bottom: 25px;
}

div.project-list{
position: relative;
right: 150px;
bottom: 5px;
}
div.project-item{
  position: absolute;
  height: 300px;
  width: 50%;
  border: goldenrod solid;
  border-radius: 12px;
  background-color: cadetblue;
  padding-bottom: 10px;
}
div.project-item.two{
  left: 810px;
}
div.project-item.three{
  left: 1075px;
}
div.project-item.top{
 float: right;
 position: relative;
 left: 2px;
}
div.project-item.right{
  position: relative;
  left: 545px;
 }
 div.project-item.right-end{
   float: right;
  position: relative;
  left: 565px;
  bottom: 300px;
 }
 div.project-item.right-bottom{
  float: right;
 position: relative;
 left: 565px;
bottom: 300px;
}




div#frontend{
  border: dashed coral 5px;
  margin-top: 5px;
  overflow-y: scroll;
  margin-right: 10px;
}
div#backend{
  border: dashed coral 5px;
  margin-top: 5px;
  overflow-y: scroll;
  margin-right: 10px;
}
div#fullstack{
  border: dashed coral 5px;
  margin-top: 5px;
  overflow-y: scroll;
  margin-right: 10px;
}

div.contact{
  margin: 20px;
  text-align: center;
  margin-left: 23%;
}
/* width */
::-webkit-scrollbar {
  width: 20px;
}
p{
  color: white;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #1d9099; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: coral; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: goldenrod; 
}
body { font-family: sans-serif; }

.carousel {
  background: black;
}

.carousel-cell {
  width: 70%;
  height: 200px;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell {
    height: 400px;
  }
}

@media screen and ( min-width: 960px ) {
  .carousel-cell {
    width: 60%;
  }
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}
.carousel-image {
  display: block;
  height: 200px;
  /* set min-width,
     allow images to determine cell width */
  min-width: 150px;
  max-width: 100%;
  margin-right: 10px;
  /* vertically center */
  top: 50%;
  transform: translateY(-50%)
}
div.portfolio-info{
  font-size: 18px;
}
div.main-carousel.js-flickity{
  border: solid white;
  /* width: 50%;
  height: 50%; */
  /* float: left; */
  
}

@media screen and (max-width: 980px) {
  .mynameSpace{
    float: left;
  }
}

@media screen and (max-width:768px) {
  header{
    width: 100%;
  }
  .mynameSpace{
    float: left;
  }
  #outside{
    width: 100%;
  }
  h2#about{
    font-size: 60px;
  }
  p.aboutMe{
    font-size: 95px
  }
  img.portfo.circle.responsive-img.materialboxed{
    width: 80%;
    height: 80%;
    margin-left: 11.5%;
  }
  p.description{
    width: 60%;
    font-size: 15px;
    margin: 5px;
  }
}

@media screen and (max-width:640px) {
 img{
   width: 100%!important;
 }
 img#mblRespons{
   width: 200% !important;
   margin-right: 55px!important;
 }
 .overlay{
   width:80%!important;
 }
 
  
}


